/* Styles for the dashboard content */
.dashboard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-image: url('../images/Dashboardbackgound1.jpg.\ jpg'); /* Background image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
}

/* Styles for the content container */
.content-container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styles for the title */
.content-container h2 {
    color: #0a1377;
    font-size: 30px;
    margin-bottom: 10px;
}

/* Styles for the paragraph */
.content-container p {
    color: #666;
    font-size: 20px;
    line-height: 1.5;
}

/* Styles for the button */
.content-container .button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
}

.content-container .button:hover {
    background-color: #0056b3;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
